
.logo {
    text-align: center;
}

.main {
    margin: 40px auto;
    width: 90%;
    border: 4px double black;
    text-align: center;
    padding-bottom: 5px;
}

.flex {
    border-top: 3px solid black;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    padding: 10px 20px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    color: #424040;
}

.logo img {
    padding: 30px;
    text-align: center;
    width: 150px;
    height: 150px;
}

.img {

    padding: 15px 120px;
    display:flex;
    justify-content: center;

}

.img img {
    width: 100%;
}

.mainborder {
    width: 70%;

}